<h1>New Grade</h1>

<%= link_to "Home Page", grades_path %>

<% @grade.errors.full_messages.each do |error| %>
  <%= error %>
<% end %>

<%= form_for @grade do |f| %>

  <%= f.label :grade_type %>
  <%= f.select :grade_type, ["Restaurant", "Other"] %>

  <%= f.label :amount %>
  <%= f.text_field :amount, class: 'form-control' %>

  <%= f.hidden_field :user_id,  class: 'form-control' %>

  <%= f.submit class: "btn btn-primary"%>

<% end %>
