<h1>
  <%= @parent.user.full_name %>
</h1>

<%= link_to "Go Back", parents_path %>

<hr>

<div class = "row">
  <div class = "col-md-3">
    Child's Name
  </div>
  <div class = "col-md-2">
    Grade
  </div>
  <div class="col-md-4">
    Comment
  </div>
  <div <div class="col-md-2">
    Created By Which Teacher
  </div>
</div>

<hr>
<div class = "row">
    <div class = "col-md-3">
        <%= link_to @parent.student.user.full_name, student_path(@parent.student.id) %>
    </div>
    <div class = "col-md-2">
        <% @parent.student.grades.each do |g| %>
        <%= link_to g.letter_grade, grade_path(g.id) %> |
        <% end %>
    </div>
    <div class = "col-md-4">
        <% @parent.student.grades.each do |g| %>
        <%= g.comment%> |
        <% end %>
    </div>
    <div class = "col-md-2">
        <% @parent.student.grades.each do |g| %>
        <%= g.teacher.user.full_name%> |
        <% end %>
    </div>

</div>
